server:
  port: 8082

bth:
  image-service:
    aws:
      url: http://localhost:9000
      s3:
        accessKey: ${S3_ACCESS_KEY}
        secretKey: ${S3_SECRET_KEY}
        region: us-east-1
        bucket: post-images

spring:
  application:
    name: bth-image-service

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  swagger-ui:
    enabled: true