spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBIT_USER}
    password: ${RABBIT_PASSWORD}
    listener:
      simple:
        concurrency: 3
        max-concurrency: 10
        prefetch: 1

bth:
  rabbit:
    host: ${spring.rabbitmq.host}
    port: ${spring.rabbitmq.port}
    username: ${spring.rabbitmq.username}
    password: ${spring.rabbitmq.password}
    queue:
      postSubsEmailQueue: post.subs.email.queue
    exchange:
      postSubsEmailExchange: post.subs.email.exchange