.loading {
    text-align: center;
    padding: 10px;
}

.image-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.posts-filter {
    animation: slideIn 0.5s ease-in-out;
}