.loading {
    text-align: center;
    padding: 10px;
}

.disabled {
    background-color: lightgrey;
    color: #aaa;
    pointer-events: none;
    opacity: 0.6;
}

.disabled:hover {
    cursor: not-allowed;
}

.image-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}