server:
  port: 8081

bth:
  post-service:
    bad-enabled: false
    elastic-search: true

spring:
  application:
    name: bth-post-service

  graphql:
    graphiql:
      enabled: true

  datasource:
    username: ${DB_USER:bth-user}
    password: ${DB_PASSWORD:password}
    url: jdbc:p6spy:postgresql://localhost:5432/bth-db
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
      naming:
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy # underscore
    open-in-view: false

  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true

  data:
    elasticsearch:
      repositories:
        enabled: true

  elasticsearch:
    uris: http://localhost:9200
    username: elastic
    password: elasticpassword

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info,env,sessions,threaddump
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework: info
    p6spy: debug