<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: commonHead}"/>
    <title>Chats</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4">
    <div th:if="${chats.isEmpty()}">
        <div th:replace="fragments :: noRecords"></div>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Recipient</th>
            <th>Last Message</th>
            <th>Unread Count</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of chat objects -->
        <tr th:each="chat : ${chats}" th:if="${!chat.hide}">
            <td th:text="${chat.recipient}">Recipient Name</td>
            <td th:text="${chat.lastMessage}">Last message text</td>
            <td th:text="${chat.unreadCount}">0</td>
            <td>
                <a th:href="@{/chat/{id}/{recipient}(id=${chat.id}, recipient=${chat.recipient})}"
                   class="btn btn-sm btn-primary">
                    Open Chat
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>