<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: commonHead}"/>
    <title>Subscriptions</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4">
    <div th:if="${subscriptions.isEmpty()}">
        <div th:replace="fragments :: noRecords"></div>
    </div>
    <table class="table table-striped table-hover" th:if="${!subscriptions.isEmpty()}">
        <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Subscribed User ID</th>
            <th>Created At</th>
            <th>Enabled</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.email}"></td>
            <td th:text="${subscription.subscribedUserId}"></td>
            <td th:text="${subscription.createdAt}"></td>
            <td>
                    <span th:classappend="${subscription.enabled ? 'badge bg-success' : 'badge bg-danger'}"
                          th:text="${subscription.enabled ? 'Enabled' : 'Disabled'}"></span>
            </td>
            <td>
                <button class="btn btn-sm btn-primary"
                        th:if="${!subscription.enabled}"
                        th:attr="onclick='enableSubscription(' + ${subscription.subscribedUserId} + ')'"
                        type="button">Enable
                </button>
                <button class="btn btn-sm btn-danger"
                        th:if="${subscription.enabled}"
                        th:attr="onclick='disableSubscription(' + ${subscription.subscribedUserId} + ')'"
                        type="button">Disable
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/subscriptions.js}" type="text/javascript"></script>
</body>
</html>